<div class="container__footer">
        <hr>
        <div class="content__footer">
                <div class="devoleped__by">
                <span >Desenvolvido por <a href="https://github.com/dominuuus">Domingos Santiago.</a></span>
                <span>Repositório no <strong><a href="https://github.com/dominuuus/Inspiration-Blog">GitHub</a></strong></span>
                
                </div>
                <div><span class="template__by">Usado como inspiração o template <strong>Podcast Design Exploration</strong>.</span>
                <span class="template__by">Criado por <a href="https://dribbble.com/shots/24943214-Podcast-Design-Exploration">Dwinawan for Paperpillar</a></span></div>
                <div class="img__footer">
                        <span class="template__by">Desenvolvido com Angular</span>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKUxiY3CHfyGGgwhLRkBdKoEmb4lxIOgarRQ&s" alt=""></div>
        </div>
</div>