

.label__browse-topics h1 {
    text-transform: uppercase;
    color: var(--secondary-color);
    font-size: 1rem;
}

h2 {
    text-transform: uppercase;
    font-size: 1rem;
}

.label__browse-topics {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.content__browse-topics {
    display: flex;
    gap: 30px;
    padding: 10px;
}


.content__browse-topics div {
    padding: 10px;
    border-radius: 20px;
}

.content__browse-topics h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container__sectionOne {
    background-color: var(--section-one-color);
}

.sectionOne__browse-topics {
    background-color: var(--section-one-color);
    border: 1px solid gray;
}

.container__sectionTwo {
    background-color: var(--section-two-color);
}

.sectionTwo__browse-topics {
    background-color: var(--section-two-color);
    border: 1px solid gray;
}

.container__sectionThree {
    background-color: var(--black);
}

.sectionThree__browse-topics {
    background-color: var(--black);
    color: var(--white);
    border: 1px solid gray;
}

.title__browse-topics {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.image__browse-topics {
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 768px) {
    .content__browse-topics {
        flex-direction: column;
    }

    .image__browse-topics {
        width: 50px;
        height: 50px;
    }

    .label__browse-topics h1 {
        font-size: 0.8rem;
    }

    h2 {
        font-size: 0.8rem;
    }
}