<div class="container__browse-topics">
    <div class="label__browse-topics">
        <h1>Browse topics</h1>
        <h2>See all topics</h2>
    </div>

    <div class="content__browse-topics">
        <div>
            <div class="box__browse-topics">
                <div class="title__browse-topics">
                    <h1>Morning Run Talk</h1>
                    <img src="https://static.vecteezy.com/system/resources/previews/002/869/736/non_2x/morning-workout-black-glyph-icon-running-in-mornings-for-daily-exercise-outdoor-sport-jogging-as-healthy-activity-everyday-routine-silhouette-symbol-on-white-space-isolated-illustration-vector.jpg" alt="">
                </div>
                <div>
                    <app-post-card></app-post-card>
                    <app-post-card></app-post-card>
                    <app-post-card></app-post-card>
                </div>
            </div>
        </div>
        
        <div>
            <div class="box__browse-topics">
                <div class="title__browse-topics">
                    <h1>Warming Up Session</h1>
                    <img src="https://static.vecteezy.com/system/resources/previews/002/869/736/non_2x/morning-workout-black-glyph-icon-running-in-mornings-for-daily-exercise-outdoor-sport-jogging-as-healthy-activity-everyday-routine-silhouette-symbol-on-white-space-isolated-illustration-vector.jpg" alt="">
                </div>
                <div>
                    <app-post-card></app-post-card>
                    <app-post-card></app-post-card>
                    <app-post-card></app-post-card>
                </div>
            </div>
        </div>
        <div>
            <div class="box__browse-topics">
                <div class="title__browse-topics">
                    <h1>My First Marathon</h1>
                    <img src="https://static.vecteezy.com/system/resources/previews/002/869/736/non_2x/morning-workout-black-glyph-icon-running-in-mornings-for-daily-exercise-outdoor-sport-jogging-as-healthy-activity-everyday-routine-silhouette-symbol-on-white-space-isolated-illustration-vector.jpg" alt="">
                </div>
                <div>
                    <app-post-card></app-post-card>
                    <app-post-card></app-post-card>
                    <app-post-card></app-post-card>
                </div>
            </div>
        </div>
    </div>
</div>
