<div class="container__browse-topics">
    <div class="label__browse-topics">
        <h1>Browse topics</h1>
        <h2>See all topics</h2>
    </div>

    <div class="content__browse-topics">
        <div class="container__sectionOne">
            <div class="sectionOne__browse-topics">
                <div class="title__browse-topics">
                    <h1>Morning Run Talk</h1>
                    <img class="image__browse-topics" src="https://cdni.iconscout.com/illustration/premium/thumb/woman-picking-up-waste-during-morning-jogging-illustration-download-in-svg-png-gif-file-formats--lady-female-nature-activist-pick-garbage-recycle-pack-people-illustrations-4459907.png" alt="">
                </div>
                <div>
                    <app-post-card></app-post-card>
                    <app-post-card></app-post-card>
                    <app-post-card></app-post-card>
                </div>
            </div>
        </div>
        
        <div class="container__sectionTwo">
            <div class="sectionTwo__browse-topics">
                <div class="title__browse-topics">
                    <h1>Warming Up Session</h1>
                    <img src="https://alphaprogression.com/data/blog/img/articles/sizes/warm-up-how-to-guide-2400.png" alt="">
                </div>
                <div>
                    <app-post-card></app-post-card>
                    <app-post-card></app-post-card>
                    <app-post-card></app-post-card>
                </div>
            </div>
        </div>
        <div class="container__sectionThree">
            <div class="sectionThree__browse-topics">
                <div class="title__browse-topics">
                    <h1>My First Marathon</h1>
                    <img src="https://alphaprogression.com/data/blog/img/articles/sizes/2-things-to-track-muscle-building-2400.png" alt="">
                </div>
                <div>
                    <app-post-card></app-post-card>
                    <app-post-card></app-post-card>
                    <app-post-card></app-post-card>
                </div>
            </div>
        </div>
    </div>
</div>
