.container__article {
    display: grid;
    grid-template-columns: 75% 25%;
}

.content__article {
    padding: 10px;
    margin-right: 20px;
    margin-left: 10px;
}

.link__blog__home button {
    margin-top: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #000;
}

.link__blog__home button:hover {
    background-color: var(--section-two-color);;
}

h1 {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 1rem;
}