<div class="blog__menu">
    <app-menu-bar></app-menu-bar>
</div>
<div class="blog__title">
    <app-menu-title></app-menu-title>
</div>

<div class="container__article">

    <div class="content__article">
        <div class="header__content__article">
            <div class="boxOne__header__content">
                <h1>{{cardTag}}</h1>
                <h2>{{cardTitle}}</h2>
            </div>
            <div class="boxTwo__header__content">
                <h3>{{cardAuthor}}</h3>
                <h3>Published at {{cardPublishedAt}}</h3>
            </div>
        </div>
        <div class="box-content__article">
            <div class="photo__box-content">
                <img 
                src={{photoCover}} 
                alt="">
            </div>
            <p [innerHTML]="cardContent"></p>
        </div>
    </div>

    <div class="latest__news">
        <div>
            <h1>LATEST PODCAST</h1>
        </div>
        <div>
            <app-latest-articles></app-latest-articles>
        </div>
        
        <div class="link__blog__home">
            <button><a href="">Visit Blog</a></button>
        </div>
    </div>

</div>

<div>
    <app-footer></app-footer>
</div>