.container__article {
    display: grid;
    grid-template-columns: 75% 25%;
    margin-bottom: 20px;
}

.content__article {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 20px;
    margin-left: 10px;
}

.link__blog__home button {
    margin-top: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #000;
}

.link__blog__home button:hover {
    background-color: var(--section-two-color);;
}

h1 {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 1rem;
}

.header__content__article {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    row-gap: 5px;
}


.boxTwo__header__content {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    gap: 30px;
    color: grey;
}

.photo__box-content {
    text-align: center;
}

.photo__box-content img {
    max-width: 70%;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .container__article {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .content__article {
        margin-right: 0;
    }

    .link__blog__home button {
        width: 100%;
    }

    .boxTwo__header__content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .latest__news {
        margin-left: 20px;
    }
    
}