<div class="blog__menu">
    <app-menu-bar></app-menu-bar>
</div>
<div class="blog__title">
    <app-menu-title></app-menu-title>
</div>

<div class="container__article">

    <div class="content__article">
        <div>
            <h1>{{cardTitle}}</h1>
            <h2>{{cardAuthor}}</h2>
            <h3>{{cardPublishedAt}}</h3>
            <h4>{{cardTag}}</h4>
        </div>
        <div>
            <div>
                <img 
                src={{photoCover}} 
                alt="">
            </div>
            <p>{{cardContent}}</p>
        </div>
    </div>

    <div class="latest__news">
        <div>
            <h1>FROM THE BLOG</h1>
        </div>
        <div>
            <app-small-card></app-small-card>
            <hr>
            <app-small-card></app-small-card>
            <hr>
            <app-small-card></app-small-card>
            <hr>
            <app-small-card></app-small-card>
        </div>
        
        <div class="link__blog__home">
            <button><a href="">Visit Blog</a></button>
        </div>
    </div>

</div>

<div>
    <app-footer></app-footer>
</div>