.container__post-card {
    display: flex;
    align-items: center;
    row-gap: 10px;
    column-gap: 20px;
    height: 90px;
}

.photo__post-card img {
    width: 3rem;
    border-radius: 50%;
}

.title__post-card {
    font-size: 1rem;
}

.title__post-card a {
    color: inherit;
    text-decoration: none;
}

.author__post-card {
    font-size: 0.75rem;
    color: gray;
}

.link__post-card {
    font-size: 2rem;
    margin-right: 10px;
}

hr {
    color: rgb(64, 14, 14);
}