<hr>
<div class="container__post-card">
    <div class="photo__post-card">
        <img 
        src="https://thumbs.dreamstime.com/b/exerc%C3%ADcio-de-gin%C3%A1stica-e-homem-negro-em-um-objetivo-treinamento-com-sa%C3%BAde-respira%C3%A7%C3%A3o-bem-estar-ou-atleta-num-centro-279686671.jpg" 
        alt="">
    </div>

    <div class="content__post-card">
        <div class="title__post-card">
            <a [routerLink]="['article', url]">{{cardTitle}}</a>
        </div>
        <div class="author__post-card">
            <span>{{cardAuthor}}</span>
        </div>
    </div>

    <div class="link__post-card"> > </div>
        
</div>
