<hr>
<div class="container__post-card">
    <div class="photo__post-card">
        <img src="https://thumbs.dreamstime.com/b/homem-cinzento-do-placeholder-da-foto-pessoa-gen%C3%A9rica-silhueta-cinzenta-em-um-fundo-branco-144511705.jpg" alt="">
    </div>

    <div class="content__post-card">
        <div class="title__post-card">
            <span>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</span>
        </div>
        <div class="author__post-card">
            <span>Nome do author</span>
        </div>
    </div>

    <div class="link__post-card"> > </div>
        
</div>
