<div class="container__main-card">
    <div class="content__main-card">
        <div class="main-card__photo">
            <img 
            src={{photoCover}} alt="">
        </div>
        <div class="main-card__box_title">
            <div class="main-card__title">
                <div>
                    <h1>{{cardTitle}}</h1>
                </div>
                <div class="main-card__label">
                    <span>{{cardTime}} </span>
                    <span>|</span>
                    <span>{{cardTag}}</span>
                </div>
            </div>
            <div class="main-card__play">></div>
        </div>
    </div>

    <div class="labels__main-card">
        <div class="primary__labels__main-card">{{cardAuthor}}</div>
        <div class="secondary__labels__main-card">
            <div>{{cardAuthorAge}} years old</div>
            <div>{{cardAuthorOccupation}}</div>
        </div>
    </div>
</div>
