<div class="container__main-card">
    <div class="content__main-card">
        <div class="main-card__photo">
            <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt="">
        </div>
        <div class="main-card__box_title">
            <div class="main-card__title">
                <div>
                    <h1>Este é o título da notícia um pouco maior</h1>
                </div>
                <div class="main-card__label">
                    <span>Contador</span>
                    <span>|</span>
                    <span>Tag</span>
                </div>
            </div>
            <div class="main-card__play">></div>
        </div>
    </div>

    <div class="labels__main-card">
        <div class="primary__labels__main-card">Nome</div>
        <div class="secondary__labels__main-card">
            <div>Idade</div>
            <div>Profissão</div>
        </div>
    </div>
</div>
