
.container__articles {
    display: grid;
    grid-template-columns: 75% 25%;
}

.main__content {
    display: flex;
}

h1 {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 1rem;
}

.link__blog__home button {
    margin-top: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #000;
}

.link__blog__home button:hover {
    background-color: var(--section-two-color);;
}

.browse__topics {
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog__menu {
    height: 70px;
}


@media screen and (max-width: 768px) {
    .container__articles {
        grid-template-columns: 1fr;
    }

    .main__content {
        flex-direction: column;
        align-items: center;
    }

    .link__blog__home button {
        width: 100%;
    }

    .latest__news {
        margin-left: 20px;
        margin-bottom: 30px;
    }
    
}