.container__menu-bar {
    display: grid;
    grid-template-columns: 15% 55% 20% 10%;
    justify-content: left;
    margin: 20px 20px 10px 10px;
}

h1 {
    font-size: 1.5rem;
}

a {
    text-transform: uppercase;
}

a {
    font-size: 0.75rem;
}

a:hover {
    color: var(--secondary-color);
}

.navigation__menu-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    width: max-content;
    justify-content: left;
}

.navigation__menu-bar div {
    padding-left: 100px;
}

.social__menu-bar {
    display: flex;
    flex-direction: column;
}

.imagem__menu-bar {
    display: flex;
    justify-content: center;
}

.imagem__menu-bar img {
    position: absolute;
    margin-top: -30px;
    height: 150px;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .container__menu-bar {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .navigation__menu-bar {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .navigation__menu-bar.active {
        display: flex;
    }

    .social__menu-bar {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .imagem__menu-bar {
        display: flex;
        align-items: left;
    }

    .imagem__menu-bar img {
        height: 100px;
    }

    .menu-toggle {
        display: block;
    }
}