<div class="container__menu-bar">
    <div class="title__blog__menu-bar">
        <h1>Inspirational Podcast Blog </h1>
    </div>

    <div class="navigation__menu-bar">
        <div><a href="#">Home</a></div>
        <div><a href="">Browse</a></div>
        <div><a href="">Offline events</a></div>
        <div><a href="">About us</a></div>
        <div><a href="">Speakers</a></div>
        <div><a href="">Merch</a></div>
        <div><a href="">Contact</a></div>
        <div><a href="">Soon</a></div>
        <div><a href="">Articles</a></div>
    </div>

    <div class="imagem__menu-bar">
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/Google_Podcasts_Logo.png" alt="">
    </div>

    <div class="social__menu-bar">
        <div><a href="">Twitter</a></div>
        <div><a href="">Instagram</a></div>
        <div><a href="">Youtube</a></div>
    </div>
</div>
