/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

:root {
    --main-font: 'Roboto', sans-serif;
    --title-font: 'Oswald', 'Roboto', sans-serif;
    --primary-color: #000;
    --secondary-color: #fc4c17;
    --section-one-color: #ebda54;
    --section-two-color: #e4daed;
    --white: #fff;
    --black: #000;
    --background-color: #fff;
}

body {
    font-family: var(--main-font);
    max-width: 90vw;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--black);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
